.root {
  cursor: pointer;

  :global {
    button {
      background-color: rgb(75 75 75) !important;
      border: rgb(0, 0, 0);

      &:hover {
        background-color: rgb(0, 0, 0) !important;
      }
    }


  }


}


@media(max-width: 576px) {
  .root {
    width: 350px;
    margin: 10px auto;
  }
   
   img {
height: 300px !important;
}
 
}