* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


.link-black{
    color: black;
}

.link-white{
    color: white;
}




.fade {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.587);
}



body {
  background: rgb(255, 255, 255);    
}   

.container {
    max-width: 1720px !important
}


.header__up {
    color: black;
    height: 80px;
    background: rgb(240, 240, 240);

}

.header__up-inner {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__up-logo-href {
    color: black;
}

.header__up-logo {
    display: flex;
    font-size: 32px;
    /* color: white; */
}

.header__up-logo:hover {
    color: rgb(103, 101, 101);
    transition: color 0.2s;
}

/* .header__up-logo-img-holder {
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 42px;
} */

.header__up-logo-text {
    margin-left: 8px;
}

.header__up-menu {
    display: flex;
    gap: 35px;
}

.header__up-menu-item {
    font-size: 24px;
    color: black;                                           
}

.header__up-number {
    cursor: pointer;
    align-items: center;
    display: flex;
    gap: 20px;
}

.header__up-number-text {
    
}

.header__up-menu-cart {
    position: relative;
    cursor: pointer;
}

.header__up-menu-cart-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 20px;
    width: 20px;
    background: red;
}


.header__up-login-button {
    height: 40px;
    width: 110px;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
    color: white;
    background-color: rgb(0, 0, 0);
}

.header__up-login-button:hover{
    background-color: rgb(61, 60, 60);
}

.header__down {
    color: white;
    background: rgb(0, 0, 0);
}

.header__down-menu {
    color: white;
    position: relative;
    height: 50px;
    display: flex;
    font-size: 27px;
    justify-content: space-between;
    align-items: center;
}



.header__down-menu-item {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    height: 100%;
    width: max-content;
    cursor: pointer;

}

.header__down-menu li:hover {
    background: rgb(55, 55, 55);
    transition: background 500ms;
}

.header__down-submenu {
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-wrap: wrap;
    height: max-content;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.928);
    top: 50px;
    left: 0px;
    padding: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.header__down-submenu a{
    color: white;
}

.header__down-submenu li {
    padding: 20px 40px;
    text-align: center;
    width: 250px;
}

.header__down-submenu li:hover{
    border-radius: 10px;
}

.slider {
    width: 1200px;
    margin: 0 auto;
}

.slider__title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 10px;

}

.slider__holder {
    width: 1200px;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}

.slider__body {
    font-size: 0px;
    width: 9000px;
    transition: margin-left 2s;

}

.slider__body-transition {
}

.slider__img {
    width: 1200px;
    height: 648px;
}

.slider__radio {
    width: max-content;
    margin-top: 20px;
    display: flex;
    gap: 20px;
    margin-inline: auto;
}

.slider__radio-btn {
   transform: scale(1.4);
}

.hits {
    padding-top: 112px;
}

.hits__title {
    text-align: center;
    font-size: 32px;
}

.hits__images-main-holder {
    display: flex;
    gap: 40px;
    width: 1200px;
    height: 643px;
    margin-top: 43px;
}

.hits__images-left-holder {
    transition: margin-left 1s;
}

.hits__images-left-holder div{
    margin-top: 40px;
    display: flex;
    gap: 40px;
}

.hits__images-right-holder {
    transition: margin-left 1s;
}

.hits__images-right-holder div {
    margin-bottom: 45px;
    display: flex;
    gap: 40px;
}


.hits__img {
    border-radius: 15px;
    cursor: pointer;
}




.news {
    padding-top: 120px;
    padding-bottom: 311px;
}

.news__title {
    font-size: 32px;
    text-align: center;
}



.news__items-holder {
    margin-top: 79px;
}

.news__item {
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 60px;
    display: flex;
    font-size: 24px;
    gap: 83px;
    align-items: center;
}

.news__item1 {
    transition: margin-top 1s;
}

.news__item2 {
    transition: margin-top 1.5s;
}

.news__item3 {
    transition: margin-top 2s;
}

.news__item4 {
    transition: margin-top 2.5s;
}

.news__item-title {
    font-size: 24px;
}

.news__item-text {
    font-size:  20px;
}

.news__item-img {
    border-radius: 10px;
    width: 295px;
    height: 155px;
}

.footer {
    background: black;
}

.footer__inner {
    font-size: 24px;
    color: white;
    height: 175px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__author {
    margin-left: 38px;
}

.footer__year {
    margin-left: 50px;
}

.footer__social-img {
    cursor: pointer;
    margin-right: 31px;
    width: 45px;
    height: 45px;
}


.none {
    display: none;
}

.hidden {
    visibility: hidden;
}