


.root {
 



     :global {
         
         .modal-title {
  
            text-align: center;
            width: 100%;
         }


         .modal-content {
           margin-top: 20vh;
     
            form .text {

                margin-top: 28px;
                text-align: center;
            }
              
     
         }
         
    } 
     
    
}





