


.holder {
  margin: 0;
  padding: 70px 0 150px 0;
}

.button {
  a:focus {
    background: white;
    box-shadow: none;

  }
}

:global {
  .active>.page-link {
  background-color: rgb(87, 87, 87) !important;
  border-color: rgb(50, 49, 49) !important;
  color: white !important;
}

.page-link {
  color: black !important;
  box-shadow: none !important;
}
}
