





.menuList {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}


.menuItem {
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 24px;
    cursor: pointer;

   
   
}

@media(max-width: 992px) {
    .root {
        display: none;
    }
}

