



.footer {
    background: black;
}

.footer__inner {
    font-size: 18px;
    color: white;
    height: 175px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__author {
    margin-left: 38px;
}

.footer__year {
    margin-left: 50px;
}

.footer__social-img {
    cursor: pointer;
    margin-right: 31px;
    width: 45px;
    height: 45px;
}